<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>UIDeviceFamily</key>
        <array>
            <integer>1</integer>
            <integer>2</integer>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UIAppFonts</key>
        <array>
            <string>calibri.ttf</string>
            <string>calibrib.ttf</string>
            <string>calibrii.ttf</string>
            <string>calibril.ttf</string>
            <string>calibrili.ttf</string>
            <string>calibriz.ttf</string>
            <string>Candara.ttf</string>
            <string>Candarab.ttf</string>
            <string>Candarai.ttf</string>
            <string>Candaraz.ttf</string>
            <string>Raleway-Bold.ttf</string>
            <string>Raleway-ExtraBold.ttf</string>
            <string>Raleway-ExtraLight.ttf</string>
            <string>Raleway-Heavy.ttf</string>
            <string>Raleway-Light.ttf</string>
            <string>Raleway-Medium.ttf</string>
            <string>Raleway-Regular.ttf</string>
            <string>Raleway-SemiBold.ttf</string>
            <string>Raleway-Thin.ttf</string>
        </array>

        <key>MinimumOSVersion</key>
        <string>8.0</string>
        <key>CFBundleDisplayName</key>
        <string>VaccineCalendar</string>
        <key>CFBundleIdentifier</key>
        <string>com.companyname.VaccineCalendar</string>
        <key>CFBundleVersion</key>
        <string>1.0</string>
        <key>UILaunchStoryboardName</key>
        <string>LaunchScreen</string>
        <key>CFBundleName</key>
        <string>VaccineCalendar</string>
        <key>XSAppIconAssets</key>
        <string>Assets.xcassets/AppIcon.appiconset</string>
    </dict>
</plist>
